{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/mysite/homepage.css' %}">

<html>
    <head>
    </head>
    
    <body>
        <div class="header">
            <h2>HELLOWORLD</h2>
        </div>
          
          <div class="row">
            <div class="leftcolumn">
              <div class="card">
                <h2>TITLE HEADING</h2>
                <h3>Title description, Dec 7, 2017</h3>
                <div class="fakeimg" style="height:200px;">Image</div>
                <p>Some text..</p>
              </div>
              <div class="card">
                <h2>TITLE HEADING</h2>
                <h3>Title description, Sep 2, 2017</h3>
                <div class="fakeimg" style="height:200px;">Image</div>
                <p>Some text..</p>
              </div>
            </div>

            <div class="rightcolumn">
              <div class="card">
                <h2>My Account</h2>
                <div class="bottom_1" id="menu"><ul><li><a href="#">WELCOME BACK</a><a href="#">LOG IN</a></li></ul></div>
                <br><br>
                <p>forgot my password</p>
              </div>
              <div class="card">
                <h2>Today's info</h2>
                <div class="fakeimg">{{time}}</div><br>
                <div class="fakeimg">Image</div><br>
                <div class="fakeimg">Image</div>
              </div>
              <div class="card">
                <h2>About me</h2>
                <p>Some text..</p>
              </div>
            </div>
          </div>
    


          <div class="footer">
            <h2>Footer</h2>
          </div>
    </body>
</html>



