{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/mysite/blogpage.css' %}">

<html>
    <head>
        <style>
            img{
                width: 100%;
                height: auto;
                size:inherit;
            }
        </style>


    </head>
    <body>
        <a href="{%url 'homepage'%}">
            <div class="header">
                <h2>HELLOWORLD</h2>
            </div>
        </a>
        
          
        <div class="row">
            <div class="leftcolumn">
                
                <div class="navigation">
                    <h3>navigation</h3>
                </div>


                {% for article in articles %}
                <a href="{{article.id}}">
                    <div class="card">
                        <h2>{{ article.title}}</h2>
                        <div class="fakeimg">
                            fakeimg
                        </div>
                    </div>
                </a>
                    
                {% endfor %} 
            </div>

            <div class="rightcolumn">
                {% if user.is_authenticated %}
                    <div class = "card">
                        <br><br>
                        <div class = "photocard">
                            <a href="{%url 'mypage' user.id%}">
                                <div class = "photowrapper">
                                    <img src={{avatar}}>
                                </div>
                            </a>
                        </div>
                            


                        <br>
                        <div class = "textwrapper">
                            <h2>{{ user.username }}</h2>
                        </div>


                        <br>
                        <div class = "button_wrapper">
                            <button type="submit" class="btn btn-primary">
                                <a href="{% url 'logout' %}">
                                    <h2>LOGOUT</h2>
                                </a>
                            </button>
                        </div>
                        <br>


                    </div>

                {% else %}
                    <div class="card">
                        <h2>My Account</h2>
                        <div class="bottom_1" id="menu"><ul><li><a>WELCOME BACK</a><a href="{%url 'login'%}">LOG IN</a></li></ul></div>
                    <br><br>
                        <p>forgot my password</p>
                    </div>
                {% endif %}
                
                    <div class="card">
                        <h2>Notifiction</h2>
                        <div class="fakeimg">
                            <h2 id="t1">{{time}}</h2>
                        </div><br>
                    </div>
                
                
            </div>
        </div>
    


          <div class="footer">
            <h2>Footer</h2>
          </div>
    </body>
</html>









