{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/mysite/blogpage.css' %}">

<html>
    <head>
        <style>
            .textwrap{
                padding-left:3%;
                padding-top:3%;
                width: 85%;
                line-height: 30px;
            }

            .textcard {
                width: 90%;
                background-color: white;
                margin-left: 5%;
                display: flex;
                justify-content: center;
                padding-right: 5%;
                padding-bottom: 5%;
            }


        </style>


    </head>
    <body>
        <a href="{%url 'homepage'%}">
            <div class="header">
                <h2>HELLOWORLD</h2>
            </div>
        </a>
        
          
        <div class="row">
            <div class="leftcolumn">

                <div class="navigation" href=>
                    <h3>navigation</h3>
                </div>


                <div class="card">
                    <div class="textwrap">
                        <h1>{{article.title}}</h1>
                    </div>
                    <div class="textcard">
                        <div class="textwrap">
                            <h3>{{article.author}}</h3>
                            {{article.content|safe}}
                        </div>
                    </div>
        
                </div>
            </div>

            <div class="rightcolumn">
                <div class="card">
                    <h2>My Account</h2>
                    <div class="bottom_1" id="menu"><ul><li><a href="#">WELCOME BACK</a><a href="#">LOG IN</a></li></ul></div>
                <br><br>
                    <p>forgot my password</p>
                </div>
              
                <div class="card">
                    <h2>Notifiction</h2>
                    <div class="fakeimg">
                        <h2>{{time}}</h2>
                    </div><br>
                </div>
            </div>
        </div>
    


          <div class="footer">
            <h2>Footer</h2>
          </div>
    </body>
</html>









